@import url('./assets/css/clash-display.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Launch Dapp button */
.launch-Dapp-button {
  appearance: button;
  background-color: #ffb2fa;
  background-image: none;
  border: 1px solid #ff48fd;
  border-radius: 8px;
  box-shadow: #ff48fd 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #140138;
  cursor: pointer;
  /* display: inline-block; */
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.launch-Dapp-button:focus {
  text-decoration: none;
}

.launch-Dapp-button:hover {
  background-color: #fff;
  text-decoration: none;
}

.launch-Dapp-button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.launch-Dapp-button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

/* learn more button */
.learn-more-btn {
  appearance: button;
  background-color: #170040;
  background-image: none;
  border: 1px solid #ff48fd;
  border-radius: 8px;
  box-shadow: #ff48fd 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  /* display: inline-block; */
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.learn-more-btn:focus {
  text-decoration: none;
}

.learn-more-btn:hover {
  background-color: #fff;
  color: #140138;
  text-decoration: none;
}

.learn-more-btn:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.learn-more-btn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.bg-big  {
  background-image: url("../src/assets/images/bg-desktop2.png"); 
  height: 160vh;
  width: 100%;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.galaxy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200%;
  width: 100%;
}

.top-planet {
  top: 0;
}

.blue-planet {
  right: 0%;
}

.Left-Planet {
  top: -90px;
  left: 0;
  width: 20px;
  height: 15px;
}

.social-buttons {
  /* padding: 30px; */
  background: rgba(255, 255, 255, 0.16);
  /* width: 35px; */
}
.active {
  color: #fff; 
  font-weight: bold; 
}

@media screen and (max-width: 600px) {
.bottom-planet{
display:none;
}}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .bg-big  {
    background-image: url("../src/assets/images/bg-mobile2.png"); 
    height: 143vh;
    width: auto;
    background-position: center; 
    background-repeat: no-repeat;     
    background-size: cover; 
  }

  .hero-spacing {
    margin-top: 20px;
    overflow-y: hidden;
  }
  .galaxy img {
    margin-top: 35px;
    margin-bottom: 0;
    height: 30%;
    width: 15%;
  }

  .blue-planet {
    right: -10%;
    top: 40%;
    overflow-x: hidden;
  }

  .Left-Planet img{
    top: 80px;
    width: 15px;
    height: 7px;
  }

  .bottom-planet {
    
  }

  .launch-Dapp-button {
    padding: 8px 30px; 
  }

  .learn-more-btn {
    padding: 8px 30px; 
  }

  .logo {
    width: 30%;
  }

  .drop-down {
    top: 0px;
  }

  .text-spacing {
    margin-bottom: 2px;
  }
}

.navbar-background {
  backdrop-filter: blur(10px);
}

.botton-planet-position {
  transform: translateX(60%) 
}

/* dropdown animation */
.ease-up {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.ease-up.active {
  max-height: 500px; 
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}
