@import url('./assets/css/clash-display.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Launch Dapp button */
.launch-Dapp-button {
  appearance: button;
  background-color: #ffb2fa;
  background-image: none;
  border: 1px solid #ff48fd;
  border-radius: 8px;
  box-shadow: #ff48fd 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #140138;
  cursor: pointer;
  /* display: inline-block; */
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.launch-Dapp-button:focus {
  text-decoration: none;
}

.launch-Dapp-button:hover {
  text-decoration: none;
}

.launch-Dapp-button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.launch-Dapp-button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

/* learn more button */
.learn-more-btn {
  appearance: button;
  background-color: #170040;
  background-image: none;
  border: 1px solid #ff48fd;
  border-radius: 8px;
  box-shadow: #ff48fd 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  /* display: inline-block; */
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.learn-more-btn:focus {
  text-decoration: none;
}

.learn-more-btn:hover {
  text-decoration: none;
}

.learn-more-btn:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.learn-more-btn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .learn-more-btn {
    padding: 12px 50px;
  }
}

/* .bg-big {
  background-image: url('../public/assets/stars-bg-2.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        overflow: hidden;
        position: relative;
} */
.bg-big  {
  background-image: url("../src/assets/images/bg-grouped1.png"); 
  height: 170vh;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}


.galaxy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200%;
  width: 100%;
}

@media (max-width: 414px) {
  .bg-big  {
    background-image: url("../src/assets/images/bg-mobile-grouped1.png"); 
    height: 190vh;
    background-position: center; 
    background-repeat: no-repeat;     
    background-size: cover; 
  }

  .hero-spacing {
    margin-top: 42px;
  }
  .galaxy img {
    height: 20%;
    width: 5%;
    border-radius: 8px;
  }

  .navbar-background {
    background-image: none;
}

.launch-Dapp-button {
  padding: 8px 30px; 
}


  .learn-more-btn {
    padding: 8px 30px; 
  }

  .logo {
    width: 30%;
  }

  .drop-down {
    top: 0px;
  }
}

.navbar-background {
  background-image: url('./src/assets/images/nav-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.botton-planet-position {
  transform: translateX(60%) 
}

/* dropdown animation */
.ease-up {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.ease-up.active {
  max-height: 500px; /* Adjust the value as needed to fit your content */
  opacity: 1;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}
